@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
  border: 1px solid grey !important;
  height: 54px;
  padding-left: 5px;
  border-radius: 14px;
}
input {
  padding: 4px 20px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.btn {
  border: 1px solid black;
  padding: 10px 40px;
}

.btn-primary {
  background-color: cornflowerblue;
  color: #fff;
  height: 60px;
  width: 200px;
}
.btn-danger {
  background-color: red;
  color: #fff;
  height: 60px;
  width: 200px;
}
.btn-grey {
  background-color: dimgray;
  color: #fff;
  height: 60px;
  width: 200px;
}
.btn-secondary {
  color: #fff;
  height: 60px;
  width: 200px;
  background-color: darkseagreen;
}

.unlocked::placeholder {
  background-color: rgb(254, 254, 201);
}

.modal-box {
  max-height: calc(100vh - 5em);
  grid-column-start: 1;
  grid-row-start: 1;
  width: 91.666667%;
  /* max-width: 32rem; */
  --tw-scale-x: 0.9;
  --tw-scale-y: 0.9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-bottom-right-radius: var(--rounded-box, 1rem);
  border-bottom-left-radius: var(--rounded-box, 1rem);
  border-top-left-radius: var(--rounded-box, 1rem);
  border-top-right-radius: var(--rounded-box, 1rem);
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
  padding: 1.5rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  overflow-y: auto;
  overscroll-behavior: contain;
}
