@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
  border: 1px solid green !important;
  height: 54px;
  padding-left: 5px;
  color: blue;
  border-radius: 14px;
}
input {
  padding: 4px 20px;
}

.btn {
  border: 1px solid black;
  padding: 10px 40px;
}

.btn-primary {
  background-color: cornflowerblue;
  color: #fff;
  height: 60px;
  width: 300px;
}
.btn-danger {
  background-color: red;
  color: #fff;
  height: 60px;
  width: 300px;
}
